<template>
  <section>
    <b-container class="ombre">
      <b-row id="team">
        <b-col cols="12">
          <h3 class="section-title mt-5">
            <div>
              Qui sommes-nous ?
            </div>
            <div class="border-title"></div>
          </h3>
        </b-col>
        <b-col lg="8">
          <p class="text-center">
            <img
              :src="buildImgUrl('roadmap/biglogo-notxt.png')"
              class="rounded-circle border w-50"
            />
          </p>

          <p>
            <strong>L'Échappée Belle</strong> fait des trucs hyper cools
          </p>

          <p>
            vraiment très cools
          </p>

          <p>
            <a href="https://lechappeebelle.team">
              Notre super site
            </a>
          </p>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<style lang="scss">
  #team {
    .card {
      margin-bottom: 30px;
      border-radius: 0;

      img {
        max-width: 128px;
        margin-right: 20px;
      }
    }

    .card-body > .card-body {
      padding: 10px;
    }
  }
</style>

<script>
  import {
    // BCard,
    // BCardBody,
    BContainer,
    BCol,
    BRow
  } from 'bootstrap-vue'

  export default {
    components: {
      // BCard,
      // BCardBody,
      BContainer,
      BCol,
      BRow
    }
  }
</script>
